@import url('https://fonts.googleapis.com/css?family=Cabin|Merriweather+Sans|Nunito|Open+Sans|Yanone+Kaffeesatz');

*{
  background-color: #3B5998;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.usuario{
  background-color: #F8F8FF;
  width: 200px;
}

.post{
  background-color: #F8F8FF;
  width: 200px;
  height: 150px;
}

.texto{
  color: white;
}

.button{
  background-color: white;
}
